body {
    background-color: aquamarine;
    height: 100%;
}

.masthead{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-heading{
    padding-top: 30vh;
    padding-bottom: 30vh;
}

#register-img{
    width: 30vh;
    margin: 5%;
}

.card{
    padding: 5vh;
}
