body {
    background-color: aquamarine;
    height: 100%;
    text-shadow: 2px 2px 5px gray;
    font-family: 'Raleway', serif ;
}

.masthead{
    height: 50%;
    background-position: top;
    background-size: cover;
}

.site-heading{
    padding-top: 20vh;
    padding-bottom: 20vh;
}

#subheading{
    font-size: 3vh;
}

#register-img{
    width: 30vh;
    margin-right: 10%;
}

.card{
    padding: 5%;
    height: 35%;
}

#registering{
    height: 50vh;
}

#login{
  height: 33vh;
}

div {
    text-align: justify;
  }

.flashes h4 {
    line-height: 2;
}

.checkbox-spacing {
    padding-right: 40px;
}

.footer-link{
    color: wheat;
}

#delete-button{
    color: red;
    font-weight: bold;
}

label{
    align-items: flex-start;
}

.button-group{
    margin-top: 10%;
}

input::placeholder {
    color: black;
    opacity: 1; /* For Firefox */
}

#search-button{
    width: 200px;
    height: 50px;
    background-color: rgb(63, 189, 147);
}
