body {
    background-color: aquamarine;
    height: 100%;
    text-shadow: 2px 2px 5px gray;
}

.masthead{
    height: 50%;
    background-position: top;
    background-size: cover;
}

.site-heading{
    padding-top: 20vh;
    padding-bottom: 20vh;
}

#register-img{
    width: 30vh;
    margin-right: 10%;
}

.card{
    padding: 5%;
    height: 35%;
}

#registering{
    height: 80vh;
}

div {
    text-align: justify;
  }

.flashes h4 {
    line-height: 2;
}

.checkbox-spacing {
    padding-right: 40px;
}

.footer-link{
    color: wheat;
}

#delete-button{
    color: red;
    font-weight: bold;
}

label{
    align-items: left;
}

.button-group{
    margin-top: 10%;
}