<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uniform Exchange Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!--Navbar-->
    <nav>
      <div class="nav-wrapper green">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('index/#about-us') }}">About Us</a></li>
          <li><a href="{{ url_for('index/#faqs') }}">FAQs</a></li>
          <li><a href="#">Search/Filter</a></li>
        </ul>
        <a href="#" class="brand-logo right">Log In</a>
        <a href="{{ url_for('register') }}" class="brand-logo right">Register</a>
      </div>
    </nav>
      <ul class="sidenav green" id="mobile-demo">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('index/#about-us') }}">About Us</a></li>
        <li><a href="{{ url_for('index/#faqs') }}">FAQs</a></li>
        <li><a href="#">Search/Filter</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
      </ul>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/images/home-page-hero.jfif')">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading center-align">
              <h1 class="red-text text-lighten-5">Uniform Exchange Hub</h1>
              <span class="red-text text-lighten-5 subheading"><h4>Find, donate pre-loved school uniforms</h4></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

    <!-- Main Content -->
  <div class="container">
    
    {% block content %}

    {% endblock %}

  </div>

  <hr>
  <!--Footer-->
  <footer class="page-footer green darken-2">
    <div class="footer-copyright">
      <div class="container">
        © 2024 Copyright Katalin Molnar
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
<script src="/static/js/script.js"></script>
</body>
</html>