<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uniform Exchange Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <!--Navbar-->
    <nav>
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Search/Filter</a></li>
            <li><a href="#">Contact Support</a></li>
            <li><a href="#">Log In for Organizations</a></li>
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Search/Filter</a></li>
            <li><a href="#">Contact Support</a></li>
            <li><a href="#">Log In for Organizations</a></li>
      </ul>
    <!-- Main Content -->
  <div class="container">
    
    {% block content %}
    {% endblock %}

  </div>

  <hr>
  <!--Footer-->
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
      © 2024 Copyright Katalin Molnar
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
</body>
</html>