{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <h3 class="center-align light-green-text text-darken-4">
        {{ user_name }}'s Profile
      </h3>
    </div>
  </div>
</div>

<div class="row">
  <form action="{{ url_for('create_profile', user_name=user.user_name) }}" method="POST">
    <div class="input-field col s12">
      <textarea id="textarea1" name="school_name" class="materialize-textarea"></textarea>
      <label for="textarea1">Which school is this uniform for?</label>
    </div>
    <div class="input-field col s6">
      <i class="material-icons prefix">account_circle</i>
      <input id="icon_prefix" name="contact_person" type="text" class="validate">
      <label for="icon_prefix" class="black-text">Contact person's name</label>
    </div>
    <div class="input-field col s6">
      <i class="material-icons prefix">phone</i>
      <input id="icon_telephone" name="contact_phone" type="tel" class="validate">
      <label for="icon_telephone" class="black-text">Telephone</label>
    </div>
    <div class="input-field col s6">
      <i class="material-icons prefix">email</i>
      <input id="icon_email" name="contact_email" type="email" class="validate">
      <label for="icon_email" class="black-text">Email</label>
    </div>
    <div class="input-field col s6">
      <i class="material-icons prefix">home</i>
      <input id="icon_home" name="contact_address" type="text" class="validate">
      <label for="icon_home" class="black-text">Address</label>
    </div>
    <div class="col s12">
      <h4>Events, if you have:</h4>
      <label for="textarea2" class="black-text">Place of the event</label>
      <textarea id="textarea2" name="event_place" class="materialize-textarea s6"></textarea>
      <input type="text" name="event_date" class="datepicker s6">
    </div>
    <div class="col s12 black-text">
      <textarea id="items" name="items" class="materialize-textarea"></textarea>
      <label for="items">What clothes would you like to donate?</label>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <input class="btn-large black-text" type="submit" value="Save Profile">
      </div>
    </div>
  </form>
</div>

{% endblock %}