{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <h3 class="center-align light-green-text text-darken-4">
        {{ user_name }}'s Profile
      </h3>
    </div>
  </div>
</div>
<div>
<h1>Edit User</h1>
<form method="POST">
  <label for="school_name">School Name:</label>
  <input type="text" id="school_name" name="school_name" value="{{ user.school_name }}" required><br>

  <label for="user_name">Username:</label>
  <input type="text" id="user_name" name="user_name" value="{{ user.user_name }}" required><br>

  <label for="contact_person">Contact Person:</label>
  <input type="text" id="contact_person" name="contact_person" value="{{ user.contact_person }}" required><br>

  <label for="contact_phone">Contact Phone:</label>
  <input type="text" id="contact_phone" name="contact_phone" value="{{ user.contact_phone }}" required><br>

  <label for="contact_email">Contact Email:</label>
  <input type="email" id="contact_email" name="contact_email" value="{{ user.contact_email }}" required><br>

  <label for="contact_address">Contact Address:</label>
  <input type="text" id="contact_address" name="contact_address" value="{{ user.contact_address }}" required><br>

  <label for="event_date">Event Date:</label>
  <input type="date" id="event_date" name="event_date" value="{{ user.event_date }}" required><br>

  <label for="event_place">Event Place:</label>
  <input type="text" id="event_place" name="event_place" value="{{ user.event_place }}" required><br>

  <label for="items">Items:</label>
  <textarea id="items" name="items" required>
      {% for item in user.items %}
          {{ item }}
          {% if not loop.last %}
              ,
          {% endif %}
      {% endfor %}
  </textarea><br>

  <label for="created_by">Created By:</label>
  <input type="text" id="created_by" name="created_by" value="{{ user.created_by }}" readonly><br>

  <button type="submit">Update User</button>
</form>

</div>

<a href="{{ url_for('index') }}">Back to Home</a>
{% endblock %}