{% extends "base.html" %}
{% block content %}


<div class="row">
  <div class="col s12"></div>
    <h2 class="center-align">About Us</h2>
      <p>This website is dedicated to exchanging pre-loved school uniforms across the UK. It’s completely free to use and register. As a charity, our mission is to connect 
        parents, school uniform banks, and schools to facilitate the exchange of school uniforms, reduce landfill waste, support the environment, and help families budget for 
        the next school year. On this page, you can search for your local school and find uniforms specific to it. If you have school uniforms to donate, you can register here. 
        Please note, this platform is not for selling items, although some organizations do accept monetary donations. If you find this site helpful, please share it on your 
        social media!</p>
    <h5 class="center-align">Read more</h5>
    <div class="collection">
      <a href="https://www.bbc.co.uk/newsround/61774208" class="collection-item green-text text-darken-4">What do you do with your old school uniform? By BBC</a>
      <a href="https://news.sky.com/story/families-urged-to-reuse-or-recycle-school-uniform-to-save-cash-and-cut-down-on-350-tonnes-of-plastic-ending-up-in-landfill-every-year-12632296" 
      class="collection-item green-text text-darken-4">
        Families urged to recycle school uniforms By Sky News</a>
        <a href="https://kidsjustrecycle.co.uk/why-you-should-recycle-old-school-uniforms/" class="collection-item green-text text-darken-4">Why you should recycle old school uniforms By Kids Just Recycle</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s8"></div>
    <h2>Why register with Us?</h2>
      <p>By registering, users become part of a community dedicated to mutual support. This fosters a sense of belonging and cooperation among parents, schools, and uniform 
          banks. Registration simplifies the donation process, allowing users to list items they wish to donate, making it easier for others to find and request them. By 
          participating in the program, users help reduce landfill waste and promote sustainable practices, contributing to environmental protection. Additionally, families can 
          save money by accessing free or low-cost uniforms, significantly easing the financial burden of purchasing new school attire each year.</p>
  </div>
</div>
<div>
  <h2 class="center-align">User Stories</h2>
  <div class="row">
    <div class="col s4">
      <div class="card green darken-4 z-depth-5">
        <div class="card-content white-text">
          <span class="card-title">Jane Hello</span>
          <p>With eight kids in our family, school uniform donations have been a tremendous help. Thanks to these donations, 
          we didn’t have to spend a lot of money at the beginning of the year.</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card green darken-4 z-depth-5">
        <div class="card-content white-text">
          <span class="card-title">John Doe</span>
          <p>Environmental protection is important to me, so I prefer not to throw away uniforms at the end of the year.
          Recycling them not only helps the environment but also provides us with a bit of extra money.</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card green darken-4 z-depth-5">
        <div class="card-content white-text">
          <span class="card-title">Amarilla Amarilla</span>
          <p>I live with my grandparents, so we don’t have a lot of money. Receiving school uniforms in good condition has been a huge help for us.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
<h2 class="center-align">FAQs</h2>
<ul class="collapsible popout">
  <li>
    <div class="collapsible-header">
      <span class="material-symbols-outlined">expand_circle_down</span>
      Is there a cost to use the website?
    <div class="collapsible-body"><p>No, everything is free.</p></div>
  </li>
  <li>
    <div class="collapsible-header">
      <span class="material-symbols-outlined">expand_circle_down</span>
      What types of school uniforms can I donate?
    <div class="collapsible-body"><p>Guidelines on acceptable items, including condition and types of uniforms.</p></div>
  </li>
  <li>
  <div class="collapsible-header">
    <span class="material-symbols-outlined">expand_circle_down</span>
    How do I search for specific school uniforms?
  <div class="collapsible-body"><p>See steps on the Search page.</p></div>
</li>
<li>
  <div class="collapsible-header">
    <span class="material-symbols-outlined">expand_circle_down</span>
    Can I donate uniforms with school logos?
  <div class="collapsible-body"><p>Yes, that's absolutely fine.</p></div>
</li>
<li></li>
  <div class="collapsible-header">
    <span class="material-symbols-outlined">expand_circle_down</span>
    How does recycling school uniforms help the environment?
  <div class="collapsible-body"><p>See articles above.</p></div>
</li>
</ul>
</div>
{% endblock %}