{% extends "base.html" %}
{% block content %}


<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <h3 class="center-align light-green-text text-darken-4">
        {{ user.user_name }}'s Profile
      </h3>
    </div>
  </div>
</div>

<div class="row"></div>
  <div class="col s12">
    <form method="GET" action="/search">
      <div class="input-field">
        <input id="search" type="text" name="query" required>
        <label for="search">Search</label>
      </div>
      <button type="submit" class="btn">Search</button>
    </form>
  </div>
</div>

<div class="row"></div>
  <div class="col s12">
    <ul>
      {% for product in products %}
      <li>
        <strong>{{ product.user_name }}</strong><br>
        School: {{ product.school_name }}<br>
        Item's name: {{ product.product_name}}
        Size: {{ product.product_size }}<br>
        Colour: {{ product.product_colour }}<br>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}