{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Log In</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="material-icons">person</i>
						<span><input id="user_name" name="user_name" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="user_name">Username</label></span>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="material-icons">lock</i>
                        <span><input id="user_password" name="user_password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="user_password">Password</label></span>
                    </div>
                </div>
                <!-- login -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-green darken-4 text-shadow">
                        Log In <i class="material-icons">check_circle</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                New Here?
                <a href="{{ url_for('register') }}" class="light-blue-text text-darken-4">Register Account</a>
            </p>
        </div>
    </div>

{% endblock %}