{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Register</h3>
    <h5 class="center-align">Username and password requirements:</h5>
    <ul class="center-align">
        <li>Length must be between 5 and 15 characters.</li>
        <li>No spaces allowed.</li>
        <li>Can include letters, numbers, and special characters.</li>
    </ul>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
                        <i class="material-icons">person</i>
						<span><input id="user_name" name="user_name" type="text" minlength="5"
                            maxlength="15" pattern="^[\S]{5,15}$" class="validate" required>
						<label for="user_name">Username</label></span>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons">lock</i>
                        <span><input id="user_password" name="user_password" type="password" minlength="5"
                            maxlength="15" pattern="^[\S]{5,15}$" class="validate" required>
                        <label for="user_password">Password</label></span>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-green darken-4 text-shadow">
                        Register <i class="material-icons">check_circle</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}