{% extends "base.html" %}
{% block content %}


<div class="row">
  
  <div class="col s12">
    <h1>User Profile</h1>

    <div>
      <div class="input-field col s12">
        <label for="school_name">School Name:</label>
        <input type="text" id="school_name" value="{{ user.school_name }}" readonly>
      </div>
        
      <div class="input-field col s12">
        <label for="user_name">Username:</label>
        <input type="text" id="user_name" value="{{ user.user_name }}" readonly>
      </div>

      <div class="input-field col s12">
        <label for="contact_person">Contact Person:</label>
        <input type="text" id="contact_person" value="{{ user.contact_person }}" readonly>
      </div>
      <div class="input-field col s12">
        <label for="contact_phone">Contact Phone:</label>
        <input type="text" id="contact_phone" value="{{ user.contact_phone }}" readonly>
      </div>

      <div class="input-field col s12">
        <label for="contact_email">Contact Email:</label>
        <input type="email" id="contact_email" value="{{ user.contact_email }}" readonly>
      </div>

      <div class="input-field col s12">
        <label for="contact_address">Contact Address:</label>
        <input type="text" id="contact_address" value="{{ user.contact_address }}" readonly>
      </div>

      <div class="input-field col s12">
        <label for="event_date">Event Date:</label>
        <input type="date" id="event_date" value="{{ user.event_date }}" readonly>
      </div>

      <div class="input-field col s12">
        <label for="event_place">Event Place:</label>
        <input type="text" id="event_place" value="{{ user.event_place }}" readonly>
      </div>

    </div>
    <div class="col s3">
      <a href="{{ url_for('index') }}" class="back-to-home waves-effect waves-light btn-large">Back to Home</a>
    </div>
    <div class="col s3">
      <a href="{{ url_for('edit_user', user_name=session['user']) }}" class="back-to-home waves-effect waves-light btn-large">Edit User Profile</a>
    </div>
    <div class="col s2">
      <form action="{{ url_for('delete_user', user_name=user.user_name) }}" method="post" onsubmit="return confirmDelete();">
        <input class="waves-effect waves-light btn-large" id="delete-button" type="submit" value="Delete Profile">
      </form>
    </div>
  </div>
  
</div>

{% endblock %}