{% extends "base.html" %}
{% block content %}


<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <h3 class="center-align light-green-text text-darken-4">
        {{ user_name }}'s Profile
      </h3>
    </div>
  </div>
</div>
{% for user in users %}
<div class="row">
  <div class="col s12">
      <ul>
        <li><p>{{  user.school_name }}</p></li>
        <li><p>{{  user.contact_person }}</p></li>
        <li><p>{{  user.contact_phone }}</p></li>
        <li><p>{{  user.contact_address }}</p></li>
        <li><p>{{  user.contact_email }}</p></li>
        <li><p>{{  user.event_place }}</p></li>
        <li><p>{{  user.event_date }}</p></li>
        <li><p>{{  user.items }}</p></li>
      </ul>
  </div>
</div>
{% endfor %}


{% endblock %}