{% extends "base.html" %}
{% block content %}


<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <h3 class="center-align light-green-text text-darken-4">
        {{ user.user_name }}'s Profile
      </h3>
    </div>
  </div>
</div>

<div class="row"></div>
  <div class="col s12">
    <ul>
        <li>
          <strong>{{ user.user_name }}</strong><br>
          School: {{ user.school_name }}<br>
          Contact Person: {{ user.contact_person }}<br>
          Phone: {{ user.contact_phone }}<br>
          Email: {{ user.contact_email }}<br>
          Address: {{ user.contact_address }}<br>
          Event Date: {{ user.event_date }}<br>
          Event Place: {{ user.event_place }}<br>
          Clothes: {{ user.items }}
          </ul>
        </li>
    </ul>
  </div>
</div>

{% endblock %}